
{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="row no-gutters">
        <div class="hero-bg col-md-6 col-lg-4">
            <img id="hero" class="img-fluid" src="{{ MEDIA_URL }}media\super-ideas.svg" alt="super ideas require super solutions">
        </div>
        <div class="main-bg col-md-6 col-lg-8">
            <article class="content-index">
                <h1 class="text-center">Hello, world!</h1>
                <p class="lead">
                    My name is David and I am now and always will be a developing developer. Even when I have mastered 100
                    languages
                    I still hope to be able to refer to myself as developing as in my opinion if the knowledge required for
                    development
                    doesn't increase as my experience expands, then my peers and I are not doing a good enough job at innovating
                    in the field.
                </p>
                <p class="text-center">
                    To see more of my work click the button below to be taken to my portfolio
                </p>
                <button id=index-Portfolio-btn class="btn btn-lg d-block text-center" href="#" role="button">
                    My Portfolio
                  </button>
            </article>
        </div>
    </div>
</main>
{% endblock %}