<footer class="container-fuild bg-black border-top-red mt-auto">
    <div id="footer-details" class="row">
        <div class="col-sm-4 text-center">
            <h5 class="uppercase general-sub text-red">About</h5>
            <p class="inline-block text-light">
            Full Stack Web Developer. Skilled in everything from HTML
            to Heroku. The capacity for structural and design thinking.
            </p>
        </div>
        <div class="col-sm-4 text-center">
            <h5 class="uppercase general-sub text-red">Download</h5>
            <p class="inline-block text-light">
            Need a printable version of my CV?
            Download it here.
            </p>
            <a href="assests/CV/David Bowers CV.pdf" target="_blank" class="cv-pdf">
                <i class="fa fa-download text-light" aria-hidden="true"></i>
                <span class="sr-only">Download Link</span>
            </a> 
        </div>
        <div class="col-sm-4 text-center">
            <h5 class="uppercase general-sub text-red">Social</h5>
            <ul class="list-inline social-links">
            <li class="list-inline-item">
                <p class="block text-light">
                Find Me on Social
                </p>
                <a href="https://www.linkedin.com/in/dnlbowers/" target="_blank">
                <i class="fab fa-linkedin-in text-light" aria-hidden="true"></i>
                <span class="sr-only">Linked In</span>
            </a>
            <!-- </li>
            <li class="list-inline-item"> --> 
                <a href="https://github.com/dnlbowers" target="_blank">
                <i class="fab fa-github text-light" aria-hidden="true"></i>
                <span class="sr-only">Github</span>
                </a>
            </li>
            </ul>
        </div>
    </div>
  </footer>