* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;   
}

/* --------------------------------------------- Text colors */



/* --------------------------------------------- Background colors */
.navbar {
    min-height: 144px;
}

.bg-black {
    background-color: #0D0500;
}

.hero-bg {
    background-color: #026873;
    
}
.main-bg {
    background-color: #026873;
    
}

/* --------------------------------------------- Borders */

.border-top-red {
    border-top: 2px solid#F20530;
}

.boarder-bot-red {
    border-bottom: 2px solid #F20530;
}

/* --------------------------------------------- Navbar */

#title, .nav-link {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

#title {
    color: #F20530;
    font-size: 2rem;
    text-shadow: -2px 4px #28397d; 
}

.navbar-toggler {
    font-size: 2rem; 
}

.content-index {
    background-color: #F2D541;
    border: 6px solid;
    border-radius: 10px;
    margin: 2%;
    height: auto;
    padding: 20px;
}

#drop-bg-1 {
    background-color: #28397d;
}

#drop-bg-2 {
    background-color: #004a52;
}

#drop-bg-3 {
    background-color: #F20530;
}

#index-Portfolio-btn {
    border: 2px solid #000;
    background-color: #004a52;
    margin: 0 auto;
    text-shadow: 3px 5px 5px #000;
}

/* --------------------------------------------- Footer */

footer {
    padding: 12px;
}

footer i {
    margin: 9px;
}

.general-sub {
    color: #F20530;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    text-decoration: underline;
}