/* ----------------------------------------------------------------------------------------------------------------- generalize styles */

* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;   
}

/* -------------------------------------------------------- Text colors */
.text-red {
    color: #F20530;
}


/* --------------------------------------------- Background colors */
.navbar {
    min-height: 144px;
}

.bg-black {
    background-color: #0D0500;
}

.hero-bg {
    background-color: #026873;
    
}
.main-bg {
    background-color: #026873;
    
}

.opacity-bg {
    opacity: .8;
}

/* ------------------------------------------------------------- Borders */

.border-top-red {
    border-top: 2px solid #F20530;
}

.boarder-bot-red {
    border-bottom: 2px solid #F20530;
}

/* ------------------------------------------------------------- headings */
.content-index > h1 {
    font-size: 25px;
    text-decoration: underline;
}

/* ----------------------------------------------------------------------------------------------------------------- base template styles */

/* -------------------------------------------------------------- Navbar */

#title, .nav-link {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

#title {
    font-size: 2rem;
    text-shadow: -2px 4px #28397d; 
}

.navbar-toggler {
    font-size: 2rem; 
}

.content-index {
    background-color: #F2D541;
    border: 6px solid;
    border-radius: 10px;
    /* margin: 2%; */
    height: auto;
    padding: 20px;
}

#drop-bg-1 {
    background-color: #004a52;
}

#drop-bg-2 {
    background-color: #28397d;
}

#drop-bg-3 {
    background-color: #F20530;
}

#index-Portfolio-btn {
    border: 2px solid #000;
    background-color: #004a52;
    margin: 0 auto;
    text-shadow: 3px 5px 5px #000;
}

/* -------------------------------------------------------------- Footer */

footer {
    padding: 12px;
}

footer i {
    margin: 9px;
}

.footer-heading {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    text-decoration: underline;
}

/* ----------------------------------------------------------------------------------------------------------------- page specific styles */

/* ------------------------------------------------------------------------------------- Portfolio landing page */

/* ----------------------------------------------- Portfolio carousel */

#carouselExampleCaptions {
    border: black 5px solid;
    max-width: 1000px;
}

.carousel-inner > .carousel-item > img {
    max-height:700px;
}

.carousel-indicators {
    bottom: -16px;
    margin-left: 0;
    margin-right: 0;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 0.2;
    width: 5%;
    z-index: 20;
}

.carousel-control-next:focus,
.carousel-control-prev:focus {
    opacity: 0.2;
}

.portfolio-button {
    background-color: #F2D541 !important;
    border: 2px solid #000 !important;
    border-radius: 10px !important;
}
